@page
@model AppWeb.Pages.IndexModel
@{
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
     <h1>Sistema de Gestión de Proyectos</h1>
     <div class="underline"></div>
     <p>Tarea 1 // Curso de Base de Datos I.</p>
     <p>Realizado por Jimena Méndez y Raúl Alfaro.</p>
</div>