@page
@model AppWeb.Pages.Departamento.Depa_listModel
@{
}

<br>
<h2>Lista de Departamentos</h2>
<a class="btn btn-primary btn-sm" href="/Departamento/Depa_form"> Nuevo Departamento</a>
<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Jefe</th>
        </tr>
    </thead>
</table>