@page
@model AppWeb.Pages.Actividad.Actividad_listModel
@{
}

<br>
<h2>Lista de Actividades</h2>
<a class="btn btn-primary btn-sm" href="/Actividad/Actividad_form"> Nueva Actividad</a>
<table class="table">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>fecha-Hora Inicio</th>
            <th>fecha-Hora Final</th>
            <th>Hora</th>
            <th>Tipo</th>
            <th>Etapa</th>
        </tr>
    </thead>
</table>