@page
@model AppWeb.Pages.Tarea.Tarea_listModel
@{
}

<br>
<h2>Lista de Tareas</h2>
<a class="btn btn-primary btn-sm" href="/Tarea/Tarea_form"> Nueva Tarea</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Hora</th>
            <th>Tipo</th>
        </tr>
    </thead>
</table>