@page
@model AppWeb.Pages.Proyectos.Proyect_listModel
@{
}

<br>
<h2>Lista de Proyectos</h2>
<a class="btn btn-primary btn-sm" href="/Proyecto/Proyect_form"> Nuevo Proyecto</a>
<table class="table">
    <thead>
        <tr>
            <th>Portafolio</th>
            <th>Nombre</th>
            <th>Año</th>
            <th>Trimestre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Cierre</th>
        </tr>
    </thead>
</table>